extends layout

block content
  h1= title
  a(href="/projects") Show all projects
  br
  a(href="/projects/user_projects") Show my proejcts
  br
  a(href="/projects/works") Show my project participation
  br
  a(href="/projects/new") New project
