extends layout

block content              

 .jumbotron.jumbotron-fluid
      .container
        h1 Registracija organizatora
        p
          | Za upis organizacije u bazu podataka potrebno je popuniti potrebne podatke i poslati ih.
    .container
      .container
        form.form-horizontal(method='POST' action='/users/register')
          .form-group.row
            .col-sm-2
              label.label-text Naziv
            .col-sm-6
              input#name.form-control.form-control-sm-6(type='text', name='name', placeholder='Naziv/Ime i prezime', required='')
          .form-group.row
            .col-sm-2
              label.label-text OIB
            .col-sm-6
              input#oib.form-control.form-control-sm-6(type='number', name='oib', placeholder='OIB', required='')
          .form-group.row
            .col-sm-2
              label.label-text Adresa
            .col-sm-6
              input#address.form-control.form-control-sm(type='text', name='address', placeholder='Adresa', required='')
          .form-group.row
            .col-sm-2
              label.label-text Grad
            .col-sm-6
              input#city.form-control.form-control-sm(type='text', name='city', placeholder='Grad', required='')
          .form-group.row
            .col-sm-2
              label.label-text Telefon
            .col-sm-6
              input#phone.form-control.form-control-sm(type='number', name='phone', placeholder='Broj mobitela/telefona', required='')
          .form-group.row
            .col-sm-2
              label.label-text Email
            .col-sm-6
              input#email.form-control.form-control-sm(type='email', name='email', placeholder='Email', required='')
          .form-group.row
            .col-sm-2
              label.label-text Lozinka
            .col-sm-6 
              input#password.form-control.form-control-sm(type='password', placeholder='Lozinka' name='password')
          .form-group.row
            .col-sm-2
              label.label-text Lozinka
            .col-sm-6 
              input#password2.form-control.form-control-sm(type='password', placeholder='Potvrdi lozinku' name='password2')

          .form-group.row
            .col-sm-2
            .col-sm-6
              br
              .g-recaptcha(data-sitekey='6LfgqEQUAAAAAGK5S3afLkHAzui-uP9TCzPI1GoQ')
              br
          .form-group.row
            .col-sm-2
            .col-sm-6
              input.btn.btn-info.btn-lg.btn-block(type='submit', name='submit', value='Registriraj organizaciju')
         
