extends ../layout

block content
	h1.
		#{title}
	form#formAddBlob(name="addblob",method="post",action="/projects")
		p Title: 
			input#inputTitle(type="text", placeholder="title", name="title")
		p Description: 
			input#inputDescritpion(type="text", placeholder="description", name="description")
		p Price:
			input#inputPrice(type="number", placeholder="666", name="price")
		p Work: 
			input#inputWork(type="text", placeholder="work" name="work")
		p Start:
			input#inputStart(type='date', name='start')
		p End:
			input#inputEnd(type='date', name='end')
		p
			button#btnSubmit.btn.btn-default(type="submit") submit