extends ../layout

block content
    h1.
         #{title}
    a(href='/projects/new') Create new project
    ul
        - each project, i in projects
            li
                = project.title
                = project.surname
                = project.price
                = project.work
                = project.start
                = project.end
                = project._id
                form(action='/projects/#{project._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button.btn.btn-default(type='submit').
                        Delete
                p 
                    a(href='/projects/#{project._id}/edit') Edit
                p
                    a(href='/projects/#{project._id}') Show
    a(href='/') Go back