extends ../layout

block content
    h1.
        #{title}
    ul
        - each project, i in projects
            li
                = project.title
                br
                = project.price
                br
                = project.work
                br
                = project.start
                br
                = project.end
                br
                = project._id
                br
                form#formAddBlob(name="addblob",method="post",action="/projects/works")
                    input#projectid(type='hidden', value='#{project._id}', name='project_id')
                    input#userid(type='hidden', value='#{user._id}', name='user_id')
                    input(type='hidden',value='PUT',name='_method')
                    button#btnSubmit.btn.btn-default(type="submit") Work done!
    a(href='/') Go back